html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.content {
    width: 100%;
    height: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pagingGroup {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pagingGLeft {
    margin-right: 30px;
}
.pagingGRight {
    margin-left: 30px;
}
.pageSelectorGroup {
    margin-left: 100px;
}
.pagingGLeft,
.pagingGRight,
.pagingList,
.pageSelectorGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pagingList {
    width: auto;
}
.pagingList p {
    display: inline-block;
}
.pagingGLeft button,
.pagingGRight button,
.pagingList button {
    margin: 0 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(150,150,150,1);
    color: black;
    border: 0;
    border-radius: 3px;
}
.pagingGLeft button,
.pagingGRight button {
    display: inline-block;
}
.pagingGLeft button:active,
.pagingGRight button:active {
    background-color: rgb(24,106,215);
    color: white;
}
.pagingList button {
    display: none;
}
.pagingList button.pageAbled {
    display: inline-block;
}
.pagingList button.checked {
    display: inline-block;
    background-color: rgb(24,106,215);
    color: white;
}
.pageSelector {
    display: inline-block;
    margin-right: 10px;
    width: 50px;
    height: 30px;
}
.pageSelectorGroup button {
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: rgb(24,106,215);
    color: white;
    border: 0;
    border-radius: 3px;
}